*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #2196f3;
  --main-logo-color: #000000;
  --main-link-color: #757575;
  --second-link-color: #212121;
  --main-bg-color: #2f303a;
  --white-bg-color: #f5f4fa;
  --hero-bg-color: #188ce8;
  --main-h-color: #212121;
  --main-p-color: #757575;
  --main-white-color: #ffffff;
  --main-border-color: #eeeeee;
  --main-icons-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
  align-content: center;
}

header {
  border: 1px solid #ececec;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding-left: 0px;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-p-color);
}
img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.nopadding {
  padding-top: 0px;
  padding-bottom: 0px;
}
/*------------Header------------*/
header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-logo-color);
  padding: 24px 0 25px 0;
  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}
.list-header {
  display: flex;
}
.list-header > li:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  font-weight: 500;
}
.contacts-list > li:not(:last-child) {
  margin-right: 30px;
}

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-link-color);
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-link.current {
  color: var(--accent-color);
}

.header-link.current::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.header {
  background-color: var(--main-white-color);
}

.header-contact {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-link-color);
  justify-content: center;
  align-items: center;
  transition: color 250ms var(--timing-function);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
.contact-icons {
  fill: currentColor;
  margin-right: 10px;
}

/*------------Main------------*/

.hero {
  background-color: var(--main-bg-color);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background\ .jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  background-position: center;
  margin: auto;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin: 0 auto;
  max-width: 700px;
}

.hero-btn {
  margin-top: 35px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-bg-color);
}

/*------------feature---------*/
.section-feature {
  background-color: var(--main-white-color);
}
.feature-icons {
  display: flex;
  margin-bottom: 30px;
}
.feature-icons > li:not(:last-child) {
  margin-right: 30px;
}

.icons-elements {
  min-width: 270px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--white-bg-color);
  margin-bottom: 30px;
}

.section-list {
  display: flex;
}

.section-list > li:not(:last-child) {
  margin-right: 30px;
}

.main-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-h-color);
}
.section-elem {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*------------Box---------*/
.section-box {
  padding-bottom: 94px;
}

.list-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.box-items > li:not(:last-child) {
  margin-right: 30px;
}

.title-box,
.title-team,
.title-company {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-h-color);
}
.box-items {
  position: relative;
}

.post-box-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
.box-example {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

/*-------------Team-----------*/

.section-team {
  background-color: var(--white-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-team {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-h-color);
}

.desc-work {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-p-color);
}

.team-items {
  background-color: var(--main-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.team-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-white-color);
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icons {
  fill: var(--main-white-color);
}
.team-soc-link:focus .team-soc-icons {
  fill: var(--main-white-color);
}

.social-icons {
  height: 44px;
  width: 44px;
}
.social-icons:not(:last-child) {
  margin-right: 10px;
}
.team-soc-icons {
  fill: var(--main-icons-color);
  transition: fill 250ms var(--timing-function);
}
/* -------------Company--------------- */
.section-company {
  padding-top: 94px;
  padding-bottom: 94px;
}
.company-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.company-icons {
  width: 170px;
  height: 92px;
  border: 1px solid var(--main-icons-color);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
.company-items {
  fill: var(--main-icons-color);
  transition: fill 250ms var(--timing-function);
}
.company-icons:hover,
.company-icons:focus {
  border: 1px solid var(--accent-color);
}
.company-link:hover .company-items {
  fill: var(--accent-color);
}
.company-link:focus .company-items {
  fill: var(--accent-color);
}
.company-icons:not(:last-child) {
  margin-right: 30px;
}
.company-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/*--------------Footer----------------*/
.footer-cont {
  align-items: baseline;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .footer-cont:last-child {
  justify-content: flex-end;
} */
.address-cont {
  margin-right: 70px;
}

.footer-social-links {
  display: flex;
  padding-top: 20px;
}

.footer-logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-white-color);
}

.address {
  font-style: normal;
  padding-top: 20px;
}
.address-footer {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  padding-bottom: 9px;
}
.list-footer > li:not(:last-child) {
  padding-bottom: 9px;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}
.footer {
  background-color: var(--main-bg-color);
}
.footer-icon-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
.footer-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}
.footer-soc-icons {
  fill: var(--main-white-color);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}
.footer-form {
  min-width: 570px;
  margin-left: 93px;
}

.form-label {
  display: flex;

  width: 100%;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
.footer-input-form {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  outline: none;
}

.btn-footer-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;

  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.icon-send {
  margin-left: 10px;
}

/*--------------Стили для portfolio.html------------------------*/
.section-menu {
  background-color: var(--main-white-color);
}

.buttons-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 50px;
}
.buttons-list > li:not(:last-child) {
  margin-right: 8px;
}
.button-menu {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-h-color);
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function),
    color 250ms var(--timing-function);
}
.button-menu:hover,
.button-menu:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-menu.current {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.section-list-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-h-color);
  margin-bottom: 4px;
}
.section-post {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-link-color);
}
.about {
  padding: 20px 24px;
}
.section-cards-description {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  height: 100%;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.section-cards {
  position: relative;
  overflow: hidden;
}
.section-items-menu {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid var(--main-border-color);
  transition: box-shadow 250ms var(--timing-function);
}

.section-items-menu :nth-child(3n) {
  margin-right: 0;
}
.section-items-menu:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section-items-menu:hover .section-cards-description {
  transform: translateY(0%);
}

/* -------------------------Modal------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms linear;
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-white-color);
}
.data-modal-close {
  border: 1px solid #0000001a;
  outline: none;
}
.icon-close {
  transition: fill 250ms var(--timing-function);
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-link-color);
}
.main-modal-form {
  margin: 12px 40px auto;
}
.main-modal-lable {
  display: flex;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--main-link-color);
}
.main-modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--timing-function);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.modal-comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms var(--timing-function);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
}
.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment:hover,
.modal-comment:focus {
  border: 1px solid var(--accent-color);
}
.modal-group {
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-cont {
  position: relative;
}
.icons-modal-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}
.icons-modal-input:hover {
  fill: var(--accent-color);
}
.main-modal-input:hover,
.main-modal-input:focus {
  border: 1px solid var(--accent-color);
}

.main-modal-input:hover + .icons-modal-input,
.main-modal-input:focus + .icons-modal-input {
  fill: var(--accent-color);
}
.modal-politic-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-p-color);
}
.modal-politic-label::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-h-color);
  border-radius: 2px;
  margin-right: 8px;
}
.modal-politic-check:checked + label::before {
  border: none;
  background-color: var(--accent-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-politic-link {
  margin-left: 8px;
  text-decoration: underline;
  color: var(--accent-color);
}

.main-modal-form > div:nth-child(5) {
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-btn-modal {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--main-white-color);
  transition: background-color 250ms var(--timing-function);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.main-btn-modal:hover,
.main-btn-modal:focus {
  background-color: var(--hero-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
